<section class="gray-bg section-padding" id="giveaways">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
          <div class="page-title">
            <h2>Giveaways</h2>

            <p>
              Do you want to win great prizes? Check out below how you can easily take home awesome gadgets!
            </p>
          </div>
        </div>
      </div>
      <h1 class="text-center">How to win prizes?</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="box whitebox boxShadow fontColor">
            <div class="box-icon">
              <img src="icons/sessions.svg" height="152" width="152" alt="" />
            </div>
            <h3>ATTEND ANY SESSION</h3>
            <h5>Company Presentation | Lunch Talk | Speaker Keynote | Workshop</h5>
            <br />
            <p>
              We'll giveaway one prize per individual session to one lucky attendant. To qualify, you'll need to be
              attending the session until its end — we'll reveal the lucky winner at the end of it.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="box whitebox boxShadow fontColor">
            <div class="box-icon">
              <img src="icons/winner.svg" height="152" width="152" alt="" />
            </div>
            <h3>WIN POINTS ON THE SCOREBOARD</h3>
            <h5>Win points by attending any session and staying on the daily top 3</h5>
            <br />
            <p>
              Win as many points as you can to stay on our top 3! You can win points by attending a session, being on speed dating calls, visiting stands, or by scanning surprise giveaway codes!
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="box whitebox boxShadow fontColor">
            <div class="box-icon">
              <img src="icons/lottery.svg" height="152" width="152" alt="" />
            </div>
            <h3>DAILY LOTTERY</h3>
            <h5>Win a prize even if you're not on the top 3 on the scoreboard</h5>
            <br />
            <p>
              If you're not on the top 3 on the scoreboard, you can still win a prize on our daily lottery. Your number
              of points are worth as “entries” — more points, more chances to win the prize!
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="box whitebox boxShadow fontColor">
            <div class="box-icon">
              <img src="icons/CV.svg" height="152" width="152" alt="" />
            </div>
            <h3>SUBMIT YOUR CURRICULUM</h3>
            <h5>Enter to win our biggest giveaway by submitting your curriculum</h5>
            <br />
            <p>
              Do you want to win a brand new <b>PlayStation 5</b>? All you have to do is submit your curriculum vitae on
              our
              web app, and you'll be automatically entered to win!
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12">
          <div class="box whitebox boxShadow fontColor">
            <div class="row d-flex">
              <div class="col-md-4 mr-auto">
                <img src="icons/code.svg" height="152" width="152" alt="" />
              </div>
              <div class="col-md-8 text-justify">
                <h3>DON'T FORGET TO ENTER THE GIVEAWAY CODES!</h3>
                <p>
                  To get a chance to win our giveaways, you'll need to enter the unique codes that will be sent during
                  sessions.
                  These will show up in the 'Chat' section at random times, so be sure to be paying attention!
                </p>
                <p>
                  To enter the codes, just open our web app, hop on the "Self Check In" tab and enter them
                  — simple as that!
                </p>
                <a href="https://app.sinfo.org" target="_blank" class="button" style="margin-top: 0px">Go to SINFO Web
                  App</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <br />
      <h1 id="points" class="text-center">How many points can you win?</h1>
      <div class="row">
        <div class="col-md-2">
          <div class="box whitebox boxShadow fontColor">
            <div class="box-icon-sm">
              <img src="icons/presentations.svg" height="60" width="60" alt="" />
            </div>
            <h6 class="special-h6">Presentation</h6>
            <h4>50 points</h4>
          </div>
        </div>
        <div class="col-md-2">
          <div class="box whitebox boxShadow fontColor">
            <div class="box-icon-sm">
              <img src="icons/lunch_talks.svg" height="60" width="60" alt="" />
            </div>
            <h6 class="special-h6">Lunch Talk</h6>
            <h4>25 points</h4>
          </div>
        </div>
        <div class="col-md-2">
          <div class="box whitebox boxShadow fontColor">
            <div class="box-icon-sm">
              <img src="icons/keynotes.svg" height="60" width="60" alt="" />
            </div>
            <h6 class="special-h6">Speaker Keynote</h6>
            <h4>10 points</h4>
          </div>
        </div>
        <div class="col-md-2">
          <div class="box whitebox boxShadow fontColor">
            <div class="box-icon-sm">
              <img src="icons/workshops.svg" height="60" width="60" alt="" />
            </div>
            <h6 class="special-h6">Workshops</h6>
            <h4>25 points</h4>
          </div>
        </div>
        <div class="col-md-2">
          <div class="box whitebox boxShadow fontColor">
            <div class="box-icon-sm">
              <img src="icons/stand.svg" height="60" width="60" alt="" />
            </div>
            <h6 class="special-h6">Visit a Stand</h6>
            <h4>50 points</h4>
          </div>
        </div>
        <div class="col-md-2">
          <div class="box whitebox boxShadow fontColor">
            <div class="box-icon-sm">
              <img src="icons/surprise-codes.svg" height="60" width="60" alt="" />
            </div>
            <h6 class="special-h6">Surprise Codes</h6>
            <h4>? points</h4>
          </div>
        </div>
        <div class="col-md-2">
          <div class="box whitebox boxShadow fontColor">
            <div class="box-icon-sm">
              <img src="icons/speed-dating.svg" height="60" width="60" alt="" />
            </div>
            <h6 class="special-h6">Speed Dating<br>1st call</h6>
            <h4>20 points</h4>
          </div>
        </div>
        <div class="col-md-2">
          <div class="box whitebox boxShadow fontColor">
            <div class="box-icon-sm">
              <img src="icons/speed-dating.svg" height="60" width="60" alt="" />
            </div>
            <h6 class="special-h6">Speed Dating<br>2nd call</h6>
            <h4>10 points</h4>
          </div>
        </div>
        <div class="col-md-2">
          <div class="box whitebox boxShadow fontColor">
            <div class="box-icon-sm">
              <img src="icons/speed-dating.svg" height="60" width="60" alt="" />
            </div>
            <h6 class="special-h6">Speed Dating<br>3rd call</h6>
            <h4>5 points</h4>
          </div>
        </div>
        <div class="col-md-2">
          <div class="box whitebox boxShadow fontColor">
            <div class="box-icon-sm">
              <img src="icons/speed-dating.svg" height="60" width="60" alt="" />
            </div>
            <h6 class="special-h6">Speed Dating<br>Happy Hour</h6>
            <h4>35 points</h4>
          </div>
        </div>

        <div class="col-md-2">
          <div class="box whitebox boxShadow fontColor">
            <div class="box-icon-sm">
              <img src="icons/stand.svg" height="60" width="60" alt="" />
            </div>
            <h6 class="special-h6">Visit all Stands in a day</h6>
            <h4>500 points</h4>
          </div>
        </div>
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <h1 class="text-center">Which prizes can you win?</h1>
      <br />
    </div>

    <center style="margin-bottom: 0px;">
      <div style="overflow-x:auto;">
        <h3 class="text-center">Daily Scoreboard</h3><br/>
        <table>
          <tr>
            <th height="100" style=" border-top-left-radius: 5px;">Place / Day</th>
            <th height="50">Monday<br>(March 1)</th>
            <th height="50">Tuesday<br>(March 2)</th>
            <th height="50">Wednesday<br>(March 3)</th>
            <th height="50">Thursday<br>(March 4)</th>
            <th height="50" style=" border-top-right-radius: 5px;">Friday<br>(March 5)</th>
          <tr>
            <td>1st Place<br>(Scoreboard)</td>
            <td>Apple AirPods</td>
            <td>PC Gaming Monitor Samsung</td>
            <td>Headphones<br>Sony WH1000XM3</td>
            <td>Nintendo Switch Lite w/ Animal Crossing</td>
            <td>Smart TV 32"</td>
          </tr>
          <tr>
            <td>2nd Place<br>(Scoreboard)</td>
            <td>JBL Flip Speaker</td>
            <td>Drawing Tablet</td>
            <td>KROM Gaming Keyboard</td>
            <td>Gaming Mouse Razer<br>Deathadder V2</td>
            <td>FUJIFILM Instax Mini 11 Happy Box Blush Pink</td>
          </tr>
          <tr class="spaceUnder">
            <td>3rd Place<br>(Scoreboard)</td>
            <td colspan="5">€50,00 Fnac Gift Card</td>
          </tr>
        </table>
        <br />
        <h3 class="text-center">Sessions</h3><br />
        <table>
          <tr>
            <th height="100" width="15%" style=" border-top-left-radius: 5px;">Session / Day</th>
            <th height="50" width="85%" style=" border-top-right-radius: 5px;">During all days of the conference</th>
          </tr>
          <tr>
            <td>Presentations</td>
            <td colspan="5">€15,00 Fnac Gift Card (one per session)</td>
          </tr>
          <tr>
            <td>Lunch Talks</td>
            <td colspan="5">€50,00 Fnac Gift Card (one per session)</td>
          </tr>
          <tr>
            <td>Workshop</td>
            <td colspan="5">€15,00 Fnac Gift Card (one per session)</td>
          </tr>
        </table>
        <br />
        <h3 class="text-center">Keynotes</h3><br />
        <table>
          <tr>
            <th height="100" style=" border-top-left-radius: 5px;">Session / Day</th>
            <th height="50">Monday<br>(March 1)</th>
            <th height="50">Tuesday<br>(March 2)</th>
            <th height="50">Wednesday<br>(March 3)</th>
            <th height="50">Thursday<br>(March 4)</th>
            <th height="50" style=" border-top-right-radius: 5px;">Friday<br>(March 5)</th>
          <tr>
            <td>1st keynote of the day<br>(14h45 - 15h30)</td>
            <td>Xiaomi Mi Band 5</td>
            <td>Sony Headphones</td>
            <td>Xiaomi Mi Band 5</td>
            <td>Xiaomi Mi Band 5</td>
            <td>Xiaomi Mi Band 5</td>
          </tr>
          <tr>
            <td>2nd keynote of the day<br>(15h45 - 16h30)</td>
            <td>€50,00 Netflix Card</td>
            <td>Xiaomi Mi Band 5</td>
            <td>Nespresso Coffee Machine</td>
            <td>€50,00 Steam Gift Card</td>
            <td>Wireless Earphones</td>
          </tr>
          <tr>
            <td>3rd keynote of the day<br>(16h45 - 17h30)</td>
            <td>Creative 1080p HD Webcam</td>
            <td>Razer Gaming Keyboard</td>
            <td>€50,00 Netflix Card</td>
            <td>€40,00 Playstation Network Card</td>
            <td>6 Months Spotify Premium</td>
          </tr>
        </table>
        <br />
        <h3 class="text-center">Misc</h3><br />
        <table>
          <tr>
            <th height="100" width="15%" style=" border-top-left-radius: 5px;">Item / Day</th>
            <th height="50" width="85%" style=" border-top-right-radius: 5px;">During all days of the conference</th>
          </tr>
          <tr>
            <td>Daily Lottery</td>
            <td colspan="5">€50,00 Fnac Gift Card</td>
          </tr>
          <tr>
            <td>Curriculum Giveaway</td>
            <td colspan="5">Sony PlayStation 5 Digital Edition</td>
          </tr>
        </table>
        <br />
      </div>
      <h5 class="text-center">All aforementioned prizes and giveaways can be subject to changes and availability.</h5>
    </center>
  </section>