<section class="price-area section-padding" id="speakers">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
          <div class="page-title">
            <h2>Speakers</h2>
            <div class="wh">
              <p>Get to learn more about our industry with these top leading international and national keynote speakers and panelists!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box whitebox fontColor">
            <div class="box-icon">
              <img src="images/speakers/craig.jpeg" style="border-radius: 50%;" alt="">
            </div>
            <h3>Craig<br>Morrison</h3>
            <div class="wh">
              <p>Principal Designer</p>
            </div>
            <img src="images/speakers/blizzard.png" alt="">
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box whitebox fontColor">
            <div class="box-icon">
              <img src="images/speakers/denise.jpeg" style="border-radius: 50%;" alt="">
            </div>
            <h3>Denise<br>Yu</h3>
            <div class="wh">
              <p>Senior Software Engineer</p>
            </div>
            <img src="images/speakers/github.png" alt="">
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box whitebox fontColor">
            <div class="box-icon">
              <img src="images/speakers/dhogue.jpeg" style="border-radius: 50%;" alt="">
            </div>
            <h3>David<br>Hogue</h3>
            <div class="wh">
              <p>Design Lead in Android UX</p>
            </div>
            <img src="images/speakers/google.png" alt="">
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box whitebox fontColor">
            <div class="box-icon">
              <img src="images/speakers/leanne.PNG" style="border-radius: 50%;" alt="">
            </div>
            <h3>Leanne<br>Loombe</h3>
            <div class="wh">
              <p>Executive Producer</p>
            </div>
            <img src="images/speakers/riotgames.png" alt="">
          </div>
        </div>


      </div>

      <div class="row">



        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box whitebox fontColor">
            <div class="box-icon">
              <img src="images/speakers/lauren.jpg" style="border-radius: 50%;" alt="">
            </div>
            <h3>Lauren<br>Schaefer</h3>
            <div class="wh">
              <p>Staff Developer Advocate</p>
            </div>
            <img src="images/speakers/mongodb.png" alt="">
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box whitebox fontColor">
            <div class="box-icon">
              <img src="images/speakers/dseidman.jpg" style="border-radius: 50%;" alt="">
            </div>
            <h3>David<br>Seidman</h3>
            <div class="wh">
              <p>Sr. Dir. of Threat Detection</p>
            </div>
            <img src="images/speakers/salesforce.png" alt="">
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box whitebox fontColor">
            <div class="box-icon">
              <img src="images/speakers/andreas.jpg" style="border-radius: 50%;" alt="">
            </div>
            <h3>Andreas<br>Öjerfors</h3>
            <div class="wh">
              <p>Lead Designer</p>
            </div>
            <img src="images/speakers/machinegames.png" alt="">
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box whitebox fontColor">
            <div class="box-icon">
              <img src="images/speakers/alex.jpeg" style="border-radius: 50%;" alt="">
            </div>
            <h3>Alexander<br>Snow</h3>
            <div class="wh">
              <p>Animator</p>
            </div>
            <img src="images/speakers/dreamworks.png" alt="">
          </div>
        </div>



      </div>

      <div class="row">



        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box whitebox fontColor">
            <div class="box-icon">
              <img src="images/speakers/BrunoNuno.jpg" style="border-radius: 50%;" alt="">
            </div>
            <h3>Bruno<br>Sanchéz</h3>
            <div class="wh">
              <p>Principal Scientist</p>
            </div>
            <img src="images/speakers/microsoft.png" alt="">
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box whitebox fontColor">
            <div class="box-icon">
              <img src="images/speakers/RogerioColaco.jpg" style="border-radius: 50%;" alt="">
            </div>
            <h3>Rogério<br>Colaço</h3>
            <div class="wh">
              <p>President</p>
            </div>
            <img src="images/speakers/tecnico.png" alt="">
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box whitebox fontColor">
            <div class="box-icon">
              <img src="images/speakers/andre.jpg" style="border-radius: 50%;" alt="">
            </div>
            <h3>André<br>Nogueira</h3>
            <div class="wh">
              <p>Site Reliability Engineer</p>
            </div>
            <div>
              <h2 style="color: #515656">Google</h2>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box whitebox fontColor">
            <div class="box-icon">
              <img src="images/speakers/Antonio Afonso.jpg" style="border-radius: 50%;" alt="">
            </div>
            <h3>António<br>Afonso</h3>
            <div class="wh">
              <p>Front-End Engineer</p>
            </div>
            <img src="images/speakers/facebook.png" alt="">
          </div>
        </div>



      </div>

      <div class="row">



        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box whitebox fontColor">
            <div class="box-icon">
              <img src="images/speakers/Diogo-HeadShot.png" style="border-radius: 50%;" alt="">
            </div>
            <h3>Diogo<br>Mónica</h3>
            <div class="wh">
              <p>Co-Founder and President</p>
            </div>
            <img src="images/speakers/anchorage.png" alt="">
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box whitebox fontColor">
            <div class="box-icon">
              <img src="images/speakers/shodipo.jpg" style="border-radius: 50%;" alt="">
            </div>
            <h3>Shodipo<br>Ayomide</h3>
            <div class="wh">
              <p>Dev. Relations Manager</p>
            </div>
            <img src="images/speakers/stack-overflow.png" alt="">
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box whitebox fontColor">
            <div class="box-icon">
              <img src="images/speakers/marco.jpg" style="border-radius: 50%;" alt="">
            </div>
            <h3>Marco<br>Squarcina</h3>
            <div class="wh">
              <p>Researcher</p>
            </div>
            <img src="images/speakers/tu-wien.png" alt="">
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box whitebox fontColor">
            <div class="box-icon">
              <img src="images/speakers/nader.jpg" style="border-radius: 50%;" alt="">
            </div>
            <h3>Nader<br>Dabit</h3>
            <div class="wh">
              <p>Sr. Developer Advocate</p>
            </div>
            <img src="images/speakers/aws-amplify.png" alt="">
          </div>
        </div>



      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box whitebox fontColor">
            <div class="box-icon">
              <img src="images/speakers/kenneth.jpg" style="border-radius: 50%;" alt="">
            </div>
            <h3>Kenneth<br>Reitz</h3>
            <div class="wh">
              <p>Freelance Python Dev.</p>
            </div>
            <img src="images/speakers/requests.png" alt="">
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box whitebox fontColor">
            <div class="box-icon">
              <img src="images/speakers/leticia.jpg" style="border-radius: 50%;" alt="">
            </div>
            <h3>Leticia<br>Silva</h3>
            <div class="wh">
              <p>Storyboard Artist</p>
            </div>
            <img src="images/speakers/cn.png" alt="">
          </div>
        </div>

      </div>

    </div>
  </section>